* {
  font-family: 'Avenir Next' !important;
}

.text {
  font-size: 20px;
}

.title {
  font-size: 34px;
  font-weight: 600;
  margin: 20px 0;
}

.video {
  width: 100%;
  margin: 0;
  height: 100vh;
  object-fit: cover;
}

.purpose {
  position: absolute;
  padding: 20px 30px;
  color: white;
  font-size: 45px;
  top: 43%;
  right: 0;
  text-align: center;
  width: 100%;
}

.button {
  background: transparent;
  border: solid 1.5px white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  padding: 10px 15px;
  outline: none;
  text-decoration: none;
  width: 150px;
}

.space {
  height: 20px;
}

.textContent {
  margin: 60px;
}

.title {
  font-size: 40px;
  text-align: center;
}

.smallTitle {
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
}

.topic {
  font-size: 25px;
  font-weight: 200;
  margin: 10px 0;
}

tspan {
  font-size: 12px;
}