.header {
  border-bottom: solid 2px #e8e8e8;
  display: flex;
  padding: 20px 20px 20px 30px;
  color: #222;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1;
}

.headerText {
  cursor: pointer;
  display: flex;
}

.tedLogo {
  cursor: pointer;
  height: 40px;
}

.subtitle {
  display: inline-block;
  font-size: 35px;
  font-weight: 100;
  margin: 0 12px;
  min-width: 368px;
}

.headerButtons {
  display: inline-block;
  margin: 14px;
}

.item {
  cursor: pointer;
  display: inline;
  margin: 20px;
}

.item a {
  color: #222;
  text-decoration: none;
}

.item :hover {
  color: rgb(230, 43, 30);
}