.tagContent {
  font-size: 20px;
  position: absolute;
  top: 18%;
  width: 100%;
}

.tagText {
  margin: 60px;
}

.tagTitle {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.smallTagTitle {
  font-size: 30px;
  font-weight: 600;
}

.img {
  margin: auto;
  width: 85%;
}

.centeredTitle {
  font-weight: 600;
  text-align: center;
}

.sentimentImg {
  margin: auto;
  width: 60%;
}